name: .NET build pipeline

# Triggers
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

#: Jobs to execute
jobs:
  ## Build DockerFileCopy image
  build-and-deploy-documentation:
    runs-on: ubuntu-latest

    steps:
    ### Checkout repo
    - uses: actions/checkout@v3
      with: 
        fetch-depth: 0
    ### Generate version number
    - name: Get version
      id: get_version
      uses: kingtechnl/githubactions/gitversion@main

    ### Build docusaurus site
    - name: Build docusaurus site
      uses: kingtechnl/githubactions/docusaurus-build@main
      with:
        targetDir: '${{ github.workspace }}/_publish'
        siteName: 'KingTech Actions'
        baseUrl: '/'
        brand: 'KingTech'
        logo: 'https://www.gravatar.com/avatar/1c367716e9c649121b5b877ad2f1b72f'
        favicon: 'https://www.gravatar.com/avatar/1c367716e9c649121b5b877ad2f1b72f'

    ### Deploy to GitHub Pages
    - name: Deploy to GitHub Pages
      uses: kingtechnl/githubactions/deploy-pages@main
      with:
        sourceDir: '${{ github.workspace }}/_publish'
        targetBranch: 'gh-pages'
        commitMessage: "Deploy site github actions"
        userName: 'github-actions'
        userEmail: 'github-actions@users.noreply.github.com'
        token: ${{ secrets.DEPLOYMENT_TOKEN }}
        url: 'actions.kingtech.nl'
    